.App {
	text-align: center;
}

input {
	border: 0px;
	border-bottom: 1px black solid;
}

button {
	border: 1px black solid;
	padding: 10px;
	background-color: rgb(225, 255, 229);
}

.line {
	border: 1px black solid;
	margin: 40px;
	width: 350px;
	height: 1px;
}

.holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pads {
	padding-bottom: 100px;
}
